<%- include('./partials/head') %>

<section>
  <container class="card">
      <div class="front"> 
        <h1><%=name%></h1>  
        <h2><%=surname%></h2>
        <p><%=bio%></p>
        <p><%=custom%></p>
      </div>
  </container>
 
  <div class="click">
  <img class="avatar" src="<%=avatar%>" alt="avatar">
  <!-- <a href="#" class="btn">Click me</a> -->
  <div>
  
</section>





<%- include('./partials/foot') %>
